.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .personal-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;

    .section1, .section2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}