.search {
  min-height: 90vh;
  position: relative;
  user-select: none;
  .filters {
    background-color: lightgray;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    padding: 0;

    .filter {
      max-width: 200px;
      margin: 0;
      padding: 0;

    }

    @media screen {
      @media (min-width: 767px) {
        flex-direction: column;
        min-height: 90vh;

        * {
          margin: {
            bottom: 10px;
            top: 10px;
            left: 0;
            right: 0;
          };
        }
      }
      @media (max-width: 767px) {
        flex-direction: row;
        min-height: 20vh;

        * {
          margin: 0;
        }
      }
    }
  }

  .cards {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;

    .dislike {
      height: 90vh;
      width: 100%;
      justify-self: end;
      pointer-events: none;
      background-color: red;
      opacity: 0;
    }

    .like {
      height: 100%;
      width: 100%;
      justify-self: start;
      pointer-events: none;
      background-color: greenyellow;
      opacity: 0;
    }

    @media screen {
      @media (max-width: 767px) {
        min-height: 70vh;
      }
    }
  }

  .row {
    margin: 0;
    padding: 0;
  }

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .container-fluid {
    margin: 0;
    padding: 0;
  }
}